.card{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 0.1px solid #306EE8;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    color:var(--text_secondary);
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    height: fit-content;
    
    

    &:hover{
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        transform: translateY(-5px);

        .cardDescription{                                   //if hover on exp card then show the complete card desc
            span{
                overflow: visible;
                display: block;
                max-width: 100%;
                -webkit-line-clamp: initial;
                -webkit-box-orient: initial;
                text-overflow: initial; 
            }
        } 
    }
    
    .top{
        width: 100%;
        display: flex;
        gap: 12px;


        .cardImg{
            height: 70px;
            width: 70px;
            object-fit: cover;
            background-color: #000;
            border-radius: 10px;
            margin-top: 4px;
            
            @media (max-width: 450px){
                height: 55px;
            }
        }
        .body{
            width: 100%;
            display: flex;
            flex-direction: column; 
        
            .cardTitle{
                font-size: 18px;
                font-weight: 600;
                @media (max-width: 768px){
                    font-size: 14px;
                }
            }

            .cardSubTitle{
                font-size: 14px;
                
                @media (max-width: 768px){
                    font-size: 12px;
                }
            }
            .cardDate{
                font-size: 12px;
                font-weight: 400;
                @media (max-width: 768px){
                    font-size: 10px;
                }
            
            }
        }
    }
    .cardDescription{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        list-style-type:disc;
        padding: 5px 2px 2px 10px;

        @media (max-width: 768px){
            font-size: 12px;
        }

        // li{
        //     overflow: hidden;
        //     max-width: 100%;
        //     // -webkit-line-clamp: 4;
        //     // -webkit-box-orient: vertical;
        //     // text-overflow: ellipsis;
        //     transition: all 0.3s ease;
        // }
       
    }
    .cardSkills{
        width: 100%;
        display: flex;
        gap: 12px;
        margin-top: 10px;
        align-items: center;

        .cardSkillsItems{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;     
               

            .cardSkillsItem{
                font-size: 15px;
                font-weight: 400;
                
                @media (max-width: 768px){
                    gap:4px;
                    font-size: 12px;
                }
                @media (max-width: 480px){
                    gap:2px;
                    font-size: 11px;
                }
            
            }
        }
    
    }
}