@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --bg:#1C1C27;
    --bgLight: #1C1E27;
    --primary:#854CE6;
    --text_primary:#F2F3F4;
    --text_secondary:#b1b2b3;
    --text_dark:#6b6c6d;
    --card:#171721;
    --card_light: #191924;
    --button:#854CE6;
    --white:#FFFFFF;
    --black:#000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.appWrapper{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    overflow-x: hidden;
    max-width: 100vw;
}

.appInnerWrapper{
  background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%,30% 98%, 0 100%);
  padding-bottom: 10vh;
}

a{
    text-decoration: none;
    color:inherit;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInRight {
  animation: fadeInRight 1s ease-out;
}


.animate-fadeInLeft {
  animation: fadeInLeft 1s ease-out;
}

// section{
//     scroll-snap-align: center;
//     height: 100vh;
//     box-sizing: border-box;
// }


/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 80px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#222A35;
  
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #575C66;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #626970;
  }
